<!DOCTYPE html>
<html>
<head>
    <title>Modify Task</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
    <div class="navbar">
        {% if session['role'] == 'superadmin' %}
            <a href="{{ url_for('superadmin_dashboard') }}">Dashboard</a>
            <a href="{{ url_for('user_management') }}">User Management</a>
            <a href="{{ url_for('create_user') }}">Create User</a>
        {% else %}
               <a  href="{{ url_for('user_dashboard') }}">Dashboard</a>

        {% endif %}

        <a class="active" href="{{ url_for('task_management') }}">Task Management</a>
        <a href="{{ url_for('create_task') }}">Add Task</a>
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>

    <h1>Modify Task</h1>
    <form method="POST" action="{{ url_for('modify_task', task_id=task.unique_id) }}">
        <label for="task_name">Task Name:</label>
        <input type="text" id="task_name" name="task_name" value="{{ task.Name }}" required>
        <br>
        <label for="status">Status:</label>
        <select id="status" name="status">
            <option value="Todo" {% if task.status == 'Todo' %}selected{% endif %}>Todo</option>
            <option value="InProgress" {% if task.status == 'InProgress' %}selected{% endif %}>In Progress</option>
            <option value="Completed" {% if task.status == 'Completed' %}selected{% endif %}>Completed</option>
        </select>
        <label for="startdate">Start date</label>
        <input type="datetime-local" id ="datetime" name="start time"  value="{{ task.start_date }}"required>

        <label for="enddate">End date</label>
        <input type="datetime-local" id ="datetime" name="end time"  value="{{ task.end_date }}"required>

        <label for="description">Description:</label>
        <textarea id="description" name="description" required>{{ task.description }}</textarea>
        <br>
        <br>
        <!-- Add other task-related form fields here, like start_date, end_date, etc. -->
        <input type="submit" value="Save Changes">
    </form>
</body>
</html>
