<!DOCTYPE html>
<html>
<head>
    <title>User Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <div class="navbar">

            <a class="active" href="{{ url_for('user_dashboard') }}">Dashboard</a>
            <a href="{{ url_for('task_management') }}">Task Management</a>
            <a href="{{ url_for('create_task') }}">Add Task</a>
            <a href="{{ url_for('logout') }}">Logout</a>
    </div>

    <h1>Welcome, {{ username }}!</h1>
    <p>This is your dashboard where you can view and manage your tasks.</p>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Level</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in log_entries %}
                {% if entry.split(' - ')[2] != "127.0.0.1"%}
                <tr>
                    <td>{{ entry.split(' - ')[0] }}</td>
                    <td>{{ entry.split(' - ')[2] }}</td>
                    <td>{{ entry.split(' - ')[4] }}</td>
                </tr>
                {% endif%}
            {% endfor %}
        </tbody>
</body>
</html>
